# Byte-compiled / optimized / DLL files
__pycache__/

wikipathways_graphs/literature_comparison/Evaluation_Files
wikipathways_graphs/literature_comparison/abstract
wikipathways_graphs/literature_comparison/full_text
wikipathways_graphs/pkl
wikipathways_graphs/*_output


Wikipathways_Text_Annotation/.DS_Store

